<div class = "admin">
	<%= form_for :session, url: '/login' do |f| %>
		<%= f.label :username, "username" %>
		<%= f.text_field :username, class: 'name_field' %><br>
		<%= f.label :password, "password" %>
		<%= f.password_field :password, class: 'name_field'%><br>
	<div class ="admin_sign_in">
		<%= f.submit "Sign In" %>
	</div>
	<% end %>
</div>